<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espaço Festa PBS</title>


    <!-- Link CSS -->
    <link rel="stylesheet" href="/CSS/layout.css">
</head>

<body>

    <header>
        <div class="menu-toggle">&#9776; Menu</div>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/sobre">Sobre</a></li>
                <li><a href="/contato">Contato</a></li>
            </ul>
        </nav>
    </header>


    <footer>
        <p>&copy; 2023 Meu Site Responsivo</p>
    </footer>

    <!-- Link JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</body>

</html>